<section id="introduccion">
  <div class="introduccion-texto">
    <h1 class="texto-principal">
      Somos una Fundación dedicada a mejorar la calidad de vida de las personas y su entorno, a
      través de la tecnología.
    </h1>
  </div>
  <div class="introduccion-acciones">
    <app-button
      [btnText]="'Contactanos'"
      [btnIcon]="'fa-sharp fa-arrow-right-long'"
      [btnRoute]="'/contacto'"
    ></app-button>
    <app-button
      [btnText]="'Sumate'"
      [btnClass]="'redondo-left'"
      [btnIcon]="'fa-plus'"
    ></app-button>
  </div>
</section>
