<section id="alianzas">
  <h2>. Alianzas</h2>
  <div class="alianzas">
    <div class="alianzas-left">
      <img src="img/alianza-santex-400x151.png" alt="imagen santex" />
      <img src="img/alianza-att-400x151.png" alt="imagen att" />
      <img src="img/alianza-banco-galicia-400x151.png" alt="imagen banco galicia" />
      <img src="img/alianza-banco-alimentos-cordoba-400x151.png" alt="imagen banco alimentos" />
      <img src="img/alianza-fundacion-scrum-400x151.png" alt="imagen scrum" />
    </div>
  </div>
</section>
