<section id="impacto">
  <div class="impacto-left">
    <h2>. Impacto</h2>
    <p>
      Buscamos construir alianzas y fortalecer vínculos para generar una transformación real en la
      comunidad. Trabajamos para acercar la tecnología innovadora y disruptiva del sector privado
      hacia el sector social
    </p>
  </div>
  <div class="impacto-right">
    <p class="impacto-numeros">
      <span class="numeros">58</span><span class="texto">Localidades</span>
    </p>
    <p class="impacto-numeros">
      <span class="numeros"><span>+</span>50</span><span class="texto">Mentores</span>
    </p>
    <p class="impacto-numeros">
      <span class="numeros">301</span><span class="texto">Participantes</span>
    </p>
  </div>
</section>
